<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Figma Land</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="shortcut icon"
      href="images/index/favicon.svg"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"
      integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header
      class="header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.header.partial.html"
    ></header>

    <nav
      class="nav"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.nav.partial.html"
    ></nav>
  </body>
</html>
